[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
"d65e128" = {path = "C:/Users/Blobl/Documents/Git/Rumble-Client-Python", editable = true}


[dev-packages]



[requires]

python_version = "3.6"
